:root {
  --work-color: #ffe4db;
  --break-color: #88acad;
  --attention-color: yellow;

  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.33);
  height: 100%;
  background: linear-gradient(var(--work-color), white);
}

body.break {
  background: linear-gradient(var(--break-color), white);
}

body.attention {
  background: linear-gradient(var(--attention-color), white);
}

.actions {
  display: inline-block;
  width: 15em;
  text-align: center;
}

.actions:first-child .content {
  border-right: solid 1px rgba(0, 0, 0, 0.167);
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

#output {
  font-size: 6rem;
  color: black;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 3rem;
  margin: 1rem;
}

ul {
  padding: 0;
}

li {
  font-size: 2rem;
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer a {
  text-decoration: underline;
}

a:hover,
a:hover * {
  color: black;
}

button {
  background: none;
  border: none;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.33);
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  color: black;
}

.soundIcon {
  font-size: 200%;
}

.logContainer {
  max-width: 1024px;
  text-align: left;
  margin: 3rem auto;
  & .logEntry {
    display: inline-block;
    & span {
      display: inline-block;
      border: solid 1px #999;
      border-radius: 0.2rem;
      font-size: 0.8rem;
      padding: 0.2rem 0.4rem;
      margin: 0.1rem;
    }
    & .logWork {
      background-color: var(--work-color);
    }
    & .logBreak {
      background-color: var(--break-color);
    }
  }
}
