:root {
  --work-color: hsl(17, 100%, 93%);
  --work-color-dark: hsl(17, 90%, 83%);
  --break-color: hsl(183, 24%, 80%);
  --break-color-dark: hsl(183, 18%, 70%);
  --attention-color: hsl(60, 100%, 50%);
  --text-color: rgba(0, 0, 0, 0.33);

  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  height: 100%;
  background: linear-gradient(var(--work-color), white) no-repeat;
}

body.break {
  background: linear-gradient(var(--break-color), white) no-repeat;
}

body.attention {
  background: linear-gradient(var(--attention-color), white) no-repeat;
}

.actions {
  display: inline-block;
  width: 15em;
  text-align: center;
}

.actions:first-child .content {
  border-right: solid 1px rgba(0, 0, 0, 0.167);
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

#output {
  font-size: 6rem;
  color: black;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 3rem;
  margin: 1rem;
}

h3 {
  margin: 2rem 0 0.5rem 0;
}

ul {
  padding: 0;
}

li {
  font-size: 2rem;
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer a {
  text-decoration: underline;
}

a:hover,
a:hover * {
  color: black;
}

button {
  background: none;
  border: none;
  font-family: sans-serif;
  color: var(--text-color);
  font-size: inherit;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  color: black;
}

.soundIcon {
  font-size: 200%;
}

.logContainer {
  max-width: 1024px;
  text-align: left;
  margin: 10rem auto;
  & .logEntry {
    display: inline-block;
    border: solid 1px;
    border-radius: 10rem;
    font-size: 0.8rem;
    margin: 0.5rem 0rem;
    max-width: 100%;
    &.short {
      text-align: center;
      padding: 0.2rem 0;
    }
    &.long {
      padding: 0.2rem 0.5rem;
    }
  }
  & .log-work {
    background-color: var(--work-color);
    border-color: var(--work-color-dark);
  }
  & .log-break {
    background-color: var(--break-color);
    border-color: var(--break-color-dark);
  }
  & .log-attention {
    border-color: var(--text-color);
    border-style: dashed;
  }
  & .clearLog {
    float: right;
  }
}
